@charset "UTF-8";
/**
 * 页面css
 * @authors 徐永全(移动新媒体事业部) (davexu@sohu-inc.com)
 * @date    2015-02-03 23:14:02
 * @version $Id$
 */

@media screen and (min-device-width:1080px) {
    body {
        max-width: 680px;
        margin: 0 auto;
    }
}
.clearfix:after {
    display:block;
    content:'\20';
    clear:both;
    height:0;
    line-height:0;
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

html {
    font-size: 12px;
}
body {
    min-width: 320px;
    margin: 0 auto;
    font-size: 12px;
}

/**********************************/
/********* 首页 start **************/
/**********************************/
.index-header {
    position: fixed;
    min-width: 320px;
    width: 100%;
    top: 15px;
    z-index: 2;
}
@media screen and (min-device-width:1080px) {
    .index-header, .common-footer, .order-nav {
        max-width: 680px;
        margin: 0 auto;
    }
}
.index-header a {
    display: block;
    height: 22px;
    width: 70px;
    border: 1px solid #7a7a7a;
    font-size: 1em;
    line-height: 23px;
    color: #696969;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}
.index-header-location {
    float: left;
    margin-left: 15px;
}
.index-header-location img {
    position: relative;
    top: 1.2px;
    left: 2px;
    width: 7px;
    height: 11px;
}
.index-header-service {
    float: right;
    margin-right: 15px;
}
.index-banner {
    position: relative;
}
.index-banner .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index: 1;
}
.index-banner .swiper-pagination-switch {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #d7d6d0;
    margin: 0 2px;
    cursor: pointer;
}
.index-banner .swiper-active-switch {
    background: #ffffff;
}
.index-banner .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
    background-image: url(../images/swiper-logo.png);
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
}
.index-banner .swiper-container {
    height: 311px;
}
.index-fun {
    margin: 28px auto 55px auto;
    width: 100%;
}
.index-fun a {
    display: block;
    height: 87px;
    text-decoration: none;
    color: #656565;
    font-size: 1.25em;
}
.index-fun a i {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    background-image: url(../images/index-funIcon.png);
    background-size: 62px 124px;
}
.index-fun a span {
    display: block;
    width: 100%;
    height: 25px;
    margin: 0 auto;
    line-height: 37px;
    text-align: center;
}
.index-fun a.index-fun-accompanying {
    width: 59%;
    border-right: 1px solid #f0f0f0;
    float: left;
}
.index-fun a.index-fun-accompanying i {
    background-position: 0 0;
}
.index-fun a.index-fun-registration {
    width: 40%;
    float: right;
}
.index-fun a.index-fun-registration i {
    background-position: 0px -62px;
}
/**********************************/
/********** 首页 end ***************/
/**********************************/


/**********************************/
/******** 我的页面 start ***********/
/**********************************/
.mine-banner {
    width: 100%;
    height: 111px;
    background-color: #5ecfd3;
    background-image: url(../images/mine-banner-bg.jpg);
    background-size: contain;
}
.mine-banner img {
    margin: 21px 0 0 16px;
}
.mine-banner-no {
    /*height: 10px;*/
    font-size: 1.25em;
    margin-top: 32px;
    text-align: right;
    padding: 0 12px;
    color: #ffffff;
}
.mine-list {
    margin-bottom: 55px;
}
.mine-list li {
    height: 44.5px;
    font-size: 1.25em;
    line-height: 44.5px;
    margin: 0 15px;
    border-bottom: 1px solid #f0f0f0;
    color: #656565;
}
.mine-list li.mine-list-nolink span {
    color: #ffa6a6;
}
.mine-list li.mine-list-nolink a.mine-list-nolink-topUp {
    display: block;
    width: 60px;
    height: 27px;
    float: right;
    line-height: 27px;
    text-align: center;
    margin-top: 8.75px;
    background-color: #ffa6a6;
    border-radius: 3px;
    color: #ffffff;
}
.mine-list li.mine-list-withlink {
    background-image: url(../images/mine-list-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 6.5px 14px;
}
.mine-list li a {
    color: #656565;
    text-decoration: none;
}
.mine-list li + li {
    /*border-top: 1px solid #f0f0f0;*/
}
/**********************************/
/********** 我的页面 end ************/
/**********************************/

/**********************************/
/********** 订单页面 start **********/
/**********************************/
.order-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    background-color: #ffffff;
    /*border-bottom: 2px solid #f0f0f0;*/
}
.order-nav a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    text-align: center;
    line-height: 42.5px;
    text-decoration: none;
    color: #656565;
    font-size: 1.25em;
    height: 42.5px;
    border-bottom: 2px solid #f0f0f0;
}
.order-nav a.current {
    height: 40.5px;
    border-bottom: 4px solid #5ecfd3;
}
.order-list {
    margin-top: 42.5px;
    margin-bottom: 55px;
    background-color: #f4f4f4;
}
.order-list li {
    min-height: 173px;
    background-color: #ffffff;
    padding: 0 13px;
}
.order-list li + li {
    margin-top: 13px;
}
.order-list li h4 {
    border-bottom: 1px solid #f0f0f0;
    height: 39px;
    line-height: 42px;
    font-size: 1.2em;
    text-indent: 8px;
    color: #656565;
}
.order-list li h4 span {
    float: right;
}
.order-list li h4 span.order-status-pink {
    color: #ffa6a6;
}
.order-list li h4 span.order-status-blue {
    color: #5ecfd3;
}
.order-list li h4 span.order-status-grey {
    color: #d3d3d3;
}
.order-list-itemMain {
    min-height: 85px;
}
.order-list-itemMain img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    margin: 12.5px 0;
    float: left;
}
.order-list-itemMain .order-list-itemMain-desc {
    /*float: left;*/
    min-height: 60px;
    padding: 12.5px 0 12.5px 75px;
    color: #656565;
    line-height: 21px;
}
.order-list-bottom {
    height: 48px;
    border-top: 1px solid #f0f0f0;
    font-size: 1.2em;
    line-height: 48px;
    color: #ffa6a6;
}
.order-list-bottom .pink-button {
    display: block;
    width: 70px;
    height: 27px;
    float: right;
    line-height: 27px;
    text-align: center;
    margin-top: 10px;
    margin-left: 18px;
    background-color: #ffa6a6;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    font-size: .85em;
}
.order-list-bottom .grey-button {
    display: block;
    width: 68px;
    height: 25px;
    float: right;
    line-height: 27px;
    text-align: center;
    margin-top: 10px;
    font-size: .85em;
    /*background-color: #9a9a9a;*/
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    color: #9a9a9a;
    text-decoration: none;
}
/**********************************/
/********** 订单页面 end ************/
/**********************************/


/**********************************/
/********** 确认订单 start **********/
/**********************************/
.confirmOrder-body {
    background-color: #f4f4f4;
}
.confirmOrder-section {
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 15px;
}
.confirmOrder-title {
    position: relative;
    font-size: 1.4em;
    margin: 15px 15px 10px 15px;
    border-left: 3px solid #5ecfd3;
    text-indent: 15px;
    color: #5ecfd3;
}
.confirmOrder-title-price {
    color: #f77070;
    float: right;
}
.confirmOrder-title-desc {
    margin: 0 15px;
    padding: 10px 0;
    color: #dadada;
}
.confirmOrder-section + .confirmOrder-section {
    /*margin-top: 15px;*/
}
.confirmOrder-info-desc {
    font-size: 1.333333333rem;
    color: #656565;
    padding-bottom: 10px;
    margin: 15px;
    line-height: 2.4rem;
    border-bottom: 1px solid #b8b8b8;
}
.confirmOrder-item {
    padding: 0 15px 13px 15px;
    font-size: 1.3em;
    line-height: 1.6em;
}
.confirmOrder-item-label {
    float: left;
    color: #656565;
    /*font-weight: bold;*/
}
.confirmOrder-item-text {
    margin-left: 80px;
    color: #818181;
}




.addInfo-item {
    padding: 12px 0;
    margin: 0 15px;
    font-size: 1.3em;
    line-height: 1.6em;
}
.addInfo-item + .addInfo-item {
    border-top: 1px solid #d2d2d2;
}
.addInfo-item-submit {
    margin: 15px 15px 30px 15px;
}
.addInfo-item-withArrow {
    background-image: url(../images/addInfo-item-withArrowIcon.jpg);
    background-size: 6.5px 14px;
    background-repeat: no-repeat;
    background-position: right center;
}
.addInfo-item-submit input {
    background-color: #5ecfd3;
    padding: 0;
    border: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1.3em;
    color: #ffffff;
}
.addInfo-item-label {
    float: left;
    color: #656565;
    /*font-weight: bold;*/
}
.addInfo-item-label-textarea {
    color: #656565;
}
.addInfo-item-text {
    margin-left: 90px;
    color: #818181;
    border-left: 1px solid #d2d2d2;
    position: relative;
}
.addInfo-item-ipt {
    height: 24px;
    width: 80%;
    color: #818181;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 15px;
}
.addInfo-item-addPersonIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.addInfo-item-locationIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 3px;
}
.addInfo-item-text select {
    width: 150px;
    height: 28px;
    border: 0 none;
    margin-left: 15px;
    font-size: 1em;
    color: #818181;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    text-indent: 10px;
}
.addInfo-item-textarea {
    margin-top: 15px;
}
.addInfo-item-textarea textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #d2d2d2;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
}


.addInfo-item-text .item-toggle {
    pointer-events: none;
}

.addInfo-item-text .toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    margin: -5px;
    padding: 5px;
    float: right;
}

.addInfo-item-text .toggle input:checked + .track {
    border-color: #4a87ee;
    background-color: #4a87ee;
}

.addInfo-item-text .toggle.toggle-positive input:checked + .track {
    border-color: #5ecfd3;
    background-color: #5ecfd3;
}

.addInfo-item-text .toggle input {
    display: none;
}

.addInfo-item-text .toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: background-color, border;
    -moz-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 54px;
    height: 4px;
    /*border: solid 2px #E5E5E5;*/
    /*border-radius: 20px;*/
    background-color: #E5E5E5;
    content: ' ';
    cursor: pointer;
    pointer-events: none;
}

.addInfo-item-text .platform-android4_2 .toggle .track {
    -webkit-background-clip: padding-box;
}

.addInfo-item-text .toggle .handle {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: #E5E5E5;
    top: 7px;
    left: 5px;
}

.addInfo-item-text .toggle .handle:before {
    position: absolute;
    top: -4px;
    left: -22px;
    padding: 19px 35px;
    content: " ";
}

.addInfo-item-text .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(26px, 0, 0);
    -moz-transform: translate3d(26px, 0, 0);
    transform: translate3d(26px, 0, 0);
    background-color: #5ecfd3;
}

.addInfo-item-text .item-toggle.active {
    box-shadow: none;
}

.addInfo-item-text .item-toggle, .addInfo-item-text .item-toggle.item-complex .item-content {
    padding-right: 102px;
}

.addInfo-item-text .item-toggle.item-complex {
    padding-right: 0;
}

.addInfo-item-text .item-toggle .toggle {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 3;
}

.addInfo-item-text .toggle input:disabled + .track {
    opacity: 0.6;
}



.confirmOrder-item-text select {
    width: 150px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #818181;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/confirmOrder-selIcon.jpg);
    background-position: 120px center;
    background-repeat: no-repeat;
    background-size: 22.5px 20px;
    background-color: #ffffff;
    text-indent: 10px;
}
.confirmOrder-item-text-independent {
    position: relative;
    margin-top: 20px;
}
.confirmOrder-item-highlight {
    color: #f77070;
}
.confirmOrder-item-text-independent-withDivision {
    padding-bottom: 20px;
    border-bottom: 1px dotted #dcdcdc;
}
.confirmOrder-item-text-independent select {
    width: 100%;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #818181;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    text-indent: 10px;
}
.confirmOrder-item-text-independent-selectArrow {
    width: 22.5px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 9px;
}
.confirm-item-amount {
    font-size: 1.4em;
    color: #535353;
    text-align: center;
    padding: 15px;
}
.confirm-item-amount span {
    color: #ffa6a6;
}
.confirm-item-paylink {
    height: 39px;
    margin: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    line-height: 39px;
    border: 1px solid #818181;
    border-radius: 3px;
}
.confirmOrder-body-new .confirm-item-paylink {
    margin: 0 15px;
    padding: 5px 0;
    text-align: left;
    border: 0 none;
}
.confirmOrder-body-new .confirm-item-paylink label {
    width: 100%;
    height: 100%;
    display: block;
}
.confirmOrder-body-new .confirm-item-paylink label input {
      position: relative;
      width: 28px;
      height: 28px;
      display: block;
      border: 0;
      background: transparent;
      cursor: pointer;
      -webkit-appearance: none;
      float: right;
      top: 4px;
}
.confirmOrder-body-new .confirm-item-paylink label input:before {
      display: table;
      width: 100%;
      height: 100%;
      border-color: #c7c7c7;
      border-width: 1px;
      border-style: solid;
      border-radius: 28px;
      background: #fff;
      content: ' ';
      transition: background-color 20ms ease-in-out;
}
.confirmOrder-body-new .confirm-item-paylink label input:after {
    -webkit-transition: opacity 0.05s ease-in-out;
    -moz-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 20%;
    left: 22%;
    display: table;
    width: 15px;
    height: 10.33333px;
    border: 3px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}
.confirmOrder-body-new .confirm-item-paylink label input:checked:before {
    background-color: #5ecfd3;
    border: 0 none;
}
.confirmOrder-body-new .confirm-item-paylink label input:checked:after {
    opacity: 1;
}
.confirmOrder-body-new .confirm-item-paylink + .confirm-item-paylink {
    border-top: 1px solid #e6e6e6;
}
.confirmOrder-body-new .goodsDetail-footer-price-new {
    font-size: 1.5rem;
    color: #535353;
}
.goodsDetail-footer-price-new-highlight {
    color: #f77070;
}
.goodsDetail-footer-price-new-highlight i {
    font-size: 2.5rem;
}
.confirm-item-paylink a {
    display: block;
    color: #818181;
    text-decoration: none;
    width: 100%;
    height: 39px;
}
.confirmOrder-body-new .confirm-item-paylink-alipayIcon, .confirmOrder-body-new .confirm-item-paylink-wxpayIcon, .confirmOrder-body-new .confirm-item-paylink-offlinepayIcon {
    margin-right: 5px;
}
.confirm-item-paylink-alipayIcon, .confirm-item-paylink-wxpayIcon, .confirm-item-paylink-offlinepayIcon {
    background-image: url(../images/order-payIcon.png);
    display: inline-block;
    background-size: 72px 48px;
    width: 24px;
    height: 24px;
    position: relative;
    top: 7.5px;
}
.confirm-item-paylink-alipayIcon {
    background-position: 0 0;
}
.confirm-item-paylink-wxpayIcon {
    background-position: -24px 0;
}
.confirm-item-paylink-offlinepayIcon {
    background-position: -48px 0;
}
.confirm-item-paylink a:active .confirm-item-paylink-alipayIcon, .confirm-item-paylink a:hover .confirm-item-paylink-alipayIcon {
    background-position: 0 -24px;
}
.confirm-item-paylink a:active .confirm-item-paylink-wxpayIcon, .confirm-item-paylink a:hover .confirm-item-paylink-wxpayIcon {
    background-position: -24px -24px;
}
.confirm-item-paylink a:active .confirm-item-paylink-offlinepayIcon, .confirm-item-paylink a:hover .confirm-item-paylink-offlinepayIcon {
    background-position: -48px -24px;
}
.confirm-item-paylink a:active, .confirm-item-paylink a:hover {
    background-color: #818181;
    color: #ffffff;
    background-position: 0 -24px;
}
.confirm-item-paylink a:active, .confirm-item-paylink a:hover {
    background-color: #818181;
    color: #ffffff;
    background-position: -24px -24px;
}
.confirm-item-paylink a:active, .confirm-item-paylink a:hover {
    background-color: #818181;
    color: #ffffff;
    background-position: -48px -24px;
}
.confirmOrder-tracking-item {
    padding: 6.25px 0 6.25px 35px;
    background-image: url(../images/confirmOrder-tracking-timeline.png);
    background-size: 24px 1000px;
    background-repeat: no-repeat;
}
.confirmOrder-tracking-item.current:first-child {
    background-position: 6px 13px;
}
.confirmOrder-tracking-item:first-child {
    background-position: 6px -540px;
}
.confirmOrder-tracking-item.current:last-child {
    background-position: 6px -400px;
}
.confirmOrder-tracking-item:last-child {
    background-position: 6px -970px;
}
.confirmOrder-tracking-item.current {
    background-position: 6px -194px;
}
.confirmOrder-tracking-item {
    background-position: 6px -730px;
}
.confirmOrder-tracking-item.current .confirmOrder-tracking-item-title, .confirmOrder-tracking-item.current .confirmOrder-tracking-item-desc, .confirmOrder-tracking-item.current .confirmOrder-tracking-item-time {
    color: #f77070;
}
.confirmOrder-tracking-item-title {
    font-size: 1.25em;
    color: #535353;
}
.confirmOrder-tracking-item-desc {
    font-size: 1.1em;
}
.confirmOrder-tracking-item-tel {
    color: #5ecfd3;
    text-decoration: none;
}
.confirmOrder-tracking-item-time {
    font-size: 1em;
    color: #818181;
}
.confirmOrder-tracking-item dl dt, .confirmOrder-tracking-item dl dd {
    padding: 6.25px 0;
}
.confirmOrder-tracking-item-telIcon-bg {
    position: relative;
}
.confirmOrder-tracking-item-telIcon {
    position: absolute;
    top: -6px;
    left: 20px;
}
.addNurse-header {
    width: 100%;
    height: 110px;
    background-image: url(../images/addNurse-header-bg.png);
    background-size: 67px 67px;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 20px 20px 0 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
.addNurse-title {
    font-size: 1.4rem;
    margin-top: 25px;
    color: #6d6d6d;
}
.addNurse-form {
    padding-top: 1px;
    background-color: #ffffff;
}
.addNurse-form .confirmOrder-title-desc {
    border-top: 2px solid #5ecfd3;
    padding-top: 20px;
    padding-bottom: 20px;
}
.addInfo-item-radio-label {
    float: left;
}
.addInfo-item-radio-label + .addInfo-item-radio-label {
    margin-left: 20px;
}
.addInfo-item-radio-label input {
    display: none;
}
.addInfo-item-radio-label .addInfo-item-ipt-redio {
    width: 16px;
    height: 16px;
    border: 1px solid #5ecfd3;
    border-radius: 16px;
    float: left;
    position: relative;
    top: 2px;
    margin-left: 20px;
    margin-right: 5px;
}
.addInfo-item-radio-label .addInfo-item-ipt-redio + .addInfo-item-ipt-redio {
}
.addInfo-item-radio-label input:checked + .addInfo-item-ipt-redio i {
    display: block;
    margin: 3px;
    width: 10px;
    height: 10px;
    background-color: #5ecfd3;
    border-radius: 10px;
}

/**********************************/
/********** 确认订单 end ************/
/**********************************/
/**********************************/


/************ 登录 start ***********/
/**********************************/
.login-logo {
    width: 70%;
    display: block;
    margin: 40px auto 35px auto;
}
.login-form {
    width: 75%;
    margin: 0 auto;
}
.login-form input {
    height: 35px;
    display: block;
    width: 100%;
    border-radius: 3px;
    margin: 30px 0;

    border: 0 none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form .login-input-text {
    border: 1px solid #818181;

    background-image: url(../images/login-inputIcon.png);
    background-size: 15.5px 48.5px;
    background-repeat: no-repeat;
    text-indent: 30px;
}
.login-form .login-input-text.login-input-text-tel {
    background-position: 6px 8px;
    margin: 0;
}
.login-form .login-input-text.login-input-text-code {
    background-position: 6px -24px;
    width: 65%;
    float: left;
}
.login-form .login-input-text.login-input-text-codeButton {
    float: right;
    width: 33%;
    background-image: none;
    text-indent: 0;
    background-color: #5ecfd3;
    color: #ffffff;
    border: 0 none;
}
.login-form .login-input-submit {
    display: block;
    height: 38px;
    font-size: 1.2em;
    background-color: #5ecfd3;
    color: #ffffff;
    border: 0 none;
    border: 0 none;
}
.login-cut-off-rule {
    width: 37.5%;
    height: 5px;
    margin: 0 auto;
    border-bottom: dotted 1px #c2c2c2;
}
.login-msg {
    height: 20px;
    margin-top: 15px;
    text-align: center;
    font-size: 1em;
    color: #a6a6a6;
}
.login-tel {
    margin-top: 10px;
    text-align: center;
    font-size: 1.3em;
    color: #5ecfd3;
    display: block;
    text-decoration: none;
}
/**********************************/
/************ 登录 end *************/
/**********************************/

/**********************************/
/********* 预约陪诊 start ***********/
/**********************************/
.orderAccompanying-body {
    background-color: #f4f4f4;
}
.orderAccompanying-wrapper {
    margin: 15px;
    background-color: #ffffff;
    border-radius: 3px;
}
.orderAccompanying-banner img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}
.orderAccompanying-list {
    padding-bottom: 1px;
}
.orderAccompanying-item {
    padding-left: 11.4px;
}
.orderAccompanying-item-title {
    font-size: 1.16em;
    color: #626262;
    font-weight: bold;
    line-height: 2.2em;
}
.orderAccompanying-item-desc {
    color: #656565;
    line-height: 1.6em;
}
.orderAccompanying-order {
    background-color: #51bec2;
    display: block;
    margin: 11px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.3em;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
}
/**********************************/
/********** 预约陪诊 end ***********/
/**********************************/


/**********************************/
/********** 下单须知 start **********/
/**********************************/
.confirmNotice-body {
}
.confirmNotice-nav {
    width: 70%;
    height: 33px;
    line-height: 33px;
    border: 2px solid #5ecfd3;
    margin: 15px auto;
    border-radius: 33px;

    /*min-width: 320px;*/
    /*background-color: #5ecfd3;*/

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.confirmNotice-nav a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    text-align: center;
    /* line-height: 130px; */
    text-decoration: none;
    color: #656565;
    font-size: .8em;
    margin: 3px;
    height: 27px;
    line-height: 27px;
    border-radius: 27px;
    font-size: 1.4em;
}
.confirmNotice-nav a.current {
    background-color: #5ecfd3;
    color: #ffffff;
}
.confirmNotice-main {
    margin: 0 15px;
}
.confirmNotice-main-title {
    font-size: 1.33em;
    font-weight: bolder;
    text-align: center;
    color: #444444;
    margin-top: 30px;
}
.confirmNotice-main-title-bg1, .confirmNotice-main-title-bg2 {
    background-image: url(../images/confirmNotice-main-title-bg.png);
    background-size: 58px 25px;
    background-repeat: no-repeat;
}
.confirmNotice-main-title-bg1 {
    background-position: left 5px;
}
.confirmNotice-main-title-bg2 {
    background-position: right -16px;
}
.confirmNotice-main-desc {
    color: #808080;
    text-align: center;
    font-size: 1.16em;
    margin: 10px;
}
.confirmNotice-main-price-bg {
    background-image: url(../images/confirmNotice-main-price-bg.png);
    background-size: 98px 110px;
    width: 98px;
    height: 110px;
    margin: 15px auto;
    text-align: center;
    color: #ffffff;
}
.confirmNotice-main-price-unit {
    font-size: 1rem;
    position: relative;
    top: 33px;
    left: -32px;
}
.confirmNotice-main-price-count {
    font-size: 3.2em;
    margin-top: 23px;
}
.confirmNotice-main-price-desc {
    font-size: .8em;
}
.confirmNotice-main-body {
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px 12px 10px 12px;
    margin-top: 15px;
    color: #656565;
    line-height: 1.8rem;
}
.confirmNotice-main-body h6 {
    font-size: 1.16rem;
    font-weight: bold;
    margin-top: 5px;
}
.confirmNotice-main-body p {
    color: #656565;
    font-size: 1rem;
}
.confirmNotice-main:last-child {
    margin-bottom: 30px;
}
/**********************************/
/********** 下单须知 end ***********/
/**********************************/

/**********************************/
/********** 需服务人员列表 start ***********/
/**********************************/
.userSel-body {
    background-color: #f5f5f5;
}
.userSel-item {
    display: block;
}
.userSel-item-radio {
    display: none;
}
.userSel-item-radio:checked + .userSel-item-bgi > .userSel-item-bgo {
    background-position: -101px center;
}
.userSel-item-bgo {
    background-image: url(../images/userSel-item-selIcon.png);
    background-size: 137.5px 51px;
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: -18px;
    width: 37px;
}
.userSel-item-bgi {
    margin: 20px 15px;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-top: 3px solid #dedede;
    background-color: #ffffff;
    position: relative;
}
.userSel-item-radio:checked + .userSel-item-bgi {
    border-top: 3px solid #5ecfd3;
}
.userSel-infolist {
    margin: 0 0 0 20px;
}
.userSel-infolist-item {
    background-image: url(../images/userSel-icon.png);
    background-repeat: no-repeat;
    background-size: 14.5px 98px;
    padding-left: 30px;
    /*padding-right: 10px;*/
    margin: 6px 10px 6px 0;
    line-height: 2em;
    /*width: 15px;*/
    min-height: 15px;
    display: block;
    font-size: 1.3em;
}
.userSel-infolist-item-name {
    background-position: 5px 6px;
}
.userSel-infolist-item-tel {
    background-position: 5px -22px;
}
.userSel-infolist-item-idno {
    background-position: 5px -49px;
}
.userSel-infolist-item-address {
    background-position: 5px -78px;
}
.userSel-infolist-item-button {
    background-image: none;
    border-top: 1px dotted #dedede;

}
.userSel-infolist-item-button a {
    float: right;
    display: block;
    border: 1px solid #9a9a9a;
    color: #9a9a9a;
    height: 23.5px;
    padding: 0 20px;
    line-height: 23.5px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.userSel-infolist-item-button a + a{
    margin-right: 20px;
}
.userSel-addUser {
    display: block;
    margin: 15px;
    height: 40px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background-color: #5ecfd3;
    border-radius: 3px;
}
/**********************************/
/********** 需服务人员列表 end ***********/
/**********************************/

/**********************************/
/********** 优惠券 start ***********/
/**********************************/
.coupons-body {

}
.coupons-header {
    height: 179px;
    background-image: url(../images/mine-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #5ecfd3;
}
.coupons-header h2 {
    font-size: 5rem;
    padding-top: 54px;
    color: #ffffff;
    text-align: center;
}
.coupons-header h2 span {
    font-size: 1.9rem;
}
.coupons-header h3 {
    text-align: center;
    font-size: 1.16rem;
    color: #ffffff;
    padding-top: 20px;
}
.coupons-search {
    margin: 0 15px;
}
.coupons-search-ipt {
    background-position: 6px -24px;
    width: 65%;
    height: 40px;
    float: left;
    border: 1px solid #818181;
    font-size: 1.3rem;

    margin: 20px 0;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    text-indent: 10px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.coupons-search-btn {
    float: right;
    font-size: 1.3rem;
    width: 33%;
    height: 40px;
    text-indent: 0;
    background-color: #5ecfd3;
    color: #ffffff;

    border-radius: 3px;
    margin: 20px 0;
    border: 0 none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.coupons-item {
    margin: 0 15px 15px 15px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    position: relative;
}
.coupons-item-sign {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px #d2d2d2 solid;
    border-radius: 0 20px 20px 0;
    border: 0 20px 20px 0;
    border-left: 0 none;
    border-top: 0 none;
    border-bottom: 0 none;
    display: block;
    top: 36px;
    left: -13px;
    background-color: #ffffff;
}
.coupons-item-faceValue {
    height: 69px;
    width: 37.5%;
    float: left;
    border-right: 1px dotted #d4d4d4;
    font-size: 2rem;
    line-height: 69px;
    text-align: center;
    text-indent: -20px;
}
.coupons-item-faceValue span {
    font-size: 5rem;
}
.coupons-item-info {
    height: 69px;
    width: 62%;
    float: right;
    line-height: 35px;
    text-indent: 20px;
    color: #7e7e7e;
}
.coupons-item-name {
    font-size: 1.3rem;
    color: #7e7e7e;
}
.coupons-item-weixin .coupons-item-faceValue {
    color: #ffa6a6;
}
.coupons-item-weixin .coupons-item-expirydate {
    color: #ffa6a6;
}
.coupons-item-offline .coupons-item-faceValue {
    color: #5ecfd3;
}
.coupons-item-offline .coupons-item-expirydate {
    color: #5ecfd3;
}
.coupons-item-overdue .coupons-item-faceValue {
    color: #dad6d6;
}
.coupons-item-overdue .coupons-item-expirydate {
    color: #dad6d6;
}
.coupons-item-overdue .coupons-item-name {
    color: #dad6d6;
}
/**********************************/
/********** 优惠券 end *************/
/**********************************/


/**********************************/
/********* 商品详情 start ***********/
/**********************************/
.goodsDetail-body {
    background-color: #f5f5f5;
}
.goodsDetail-section {
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.goodsDetail-section + .goodsDetail-section {
    margin-top: 15px;
}
.goodsDetail-section.goodsDetail-header {
    padding: 15px 15px 0 15px;
}
.goodsDetail-section.goodsDetail-header img {
    display: block;
    float: left;
}
.goodsDetail-overview {
    margin-left: 185px;
    line-height: 33px;
}
.goodsDetail-overview-title {
    color: #656565;
    font-size: 1.4rem;
    font-weight: bolder;
}
.goodsDetail-overview-duration {
    color: #656565;
    font-size: 1.2rem;
}
.goodsDetail-overview-price {
    color: #ff6767;
    font-size: 1.4rem;
}
.goodsDetail-header .goodsDetail-security {
    border-top: 1px solid #dcdcdc;
}
.goodsDetail-security {
    margin-top: 15px;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-box;
}
.goodsDetail-escort .goodsDetail-security {
    margin: 0 15px;
    margin-top: 15px;
}
.goodsDetail-security + .goodsDetail-security {
    margin-top: 0;
    border-top: 1px solid #dcdcdc;
}
.goodsDetail-security-item {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 5px;
}
.goodsDetail-security-item + .goodsDetail-security-item {
    border-left: 1px solid #dcdcdc;
}
.goodsDetail-security-item-title {
    font-size: 1.08rem;
    font-weight: bolder;
    color: #656565;
}
.goodsDetail-security-item-desc {
    font-size: .75rem;
    color: #919191;
    height: 36px;
    margin-top: 8px;
    line-height: 1.2rem;
}
.goodsDetail-security-item-icon {
    width: 80px;
    height: 60px;
    background-image: url(../images/goodsDetail-security-icons.jpg);
    background-size: 224px 297px;
    margin: 0 auto;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-11 {
    background-position: 2px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-12 {
    background-position: -69px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-13 {
    background-position: -140px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-21 {
    background-position: 2px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-22 {
    background-position: -69px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-23 {
    background-position: -140px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-31 {
    background-position: 2px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-32 {
    background-position: -69px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-33 {
    background-position: -140px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-41 {
    background-position: 2px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-42 {
    background-position: -69px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-43 {
    background-position: -140px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-51 {
    background-position: 2px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-52 {
    background-position: -69px -12px;
}
.goodsDetail-security-item-icon.goodsDetail-security-item-icon-53 {
    background-position: -140px -12px;
}
.goodsDetail-service {
    margin: 0 15px;
    font-size: 1.083rem;
    line-height: 22px;
    color: #919191;
    padding-bottom: 15px;
}
.goodsDetail-service li {
    background-image: url(../images/goodsDetail-serviceDot.jpg);
    background-repeat: no-repeat;
    background-position: left 8px;
    padding-left: 10px;
}
.goodsDetail-orderNotice {
    padding-bottom: 15px;
}
.goodsDetail-orderNotice h6 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #656565;
    margin: 10px 15px;
}
.goodsDetail-orderNotice p {
    font-size: 1.083rem;
    color: #919191;
    margin: 10px 15px 0 15px;
    line-height: 1.8rem;
}
.goodsDetail-footer {
    margin-top: 30px;
    border-top: 2px solid #5ecfd3;
    height: 74px;
    background-color: #ffffff;
    position: relative;
}
.goodsDetail-footer-price {
    margin: 10px 10px 0 10px;
}
.confirmOrder-body-new .goodsDetail-footer-price {
    margin: 20px 10px 0 10px;
}
.goodsDetail-footer-price-new {
    color: #f77070;
    float: left;
    font-size: 2.5rem;
}
.goodsDetail-footer-price-new span {
    font-size: 1.5rem;
}
.goodsDetail-footer-price-old {
    color: #bbbbbb;
    float: left;
    margin-left: 5px;
    line-height: 40px;
    text-decoration:line-through;
}
.goodsDetail-footer-price-old span {
    font-size: .75rem;
}
.goodsDetail-footer-timespan {
    height: 15px;
    line-height: 18px;
    background-image: url(../images/goodsDetail-footer-timespan-icons.jpg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
    float: left;
    margin: 0 12px;
    position: relative;
    top: -5px;
}
.goodsDetail-footer-buy {
    width: 125px;
    height: 40px;
    border-radius: 5px;
    display: block;
    background-color: #f77070;
    font-size: 1.33rem;
    color: #fefefe;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 17px;
    top: 17px;
}

/**********************************/
/********** 商品详情 end *************/
/**********************************/

/**********************************/
/********** 套餐列表 start **********/
/**********************************/
.goodsList-body {
    background-color: #f5f5f5;
}
.goodsList-header {
    padding: 0 15px;
    height: 42px;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-box;
    background-color: #ffffff;
}
.goodsList-header a {
    display: block;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;

    color: #656565;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 42px;
    text-align: center;
}
.goodsList-header a.current {
    border-bottom: 3px solid #5ecfd3;
}
.goodsList-base-list {

}
.goodsList-base-list * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
.goodsList-base-list li {
    width: 50%;
    float: left;
}
.goodsList-base-list li:nth-child(odd) {
    padding: 15px 7.5px 0 15px;
}
.goodsList-base-list li:nth-child(even) {
    padding: 15px 15px 0 7.5px;
}
.goodsList-base-list li div {
    background-color: #ffffff;
}
.goodsList-base-item-intro-pic {
    width: 100%;
}
.goodsList-base-item-intro {
    position: relative;
}
.goodsList-base-item-intro-price {
    margin: 10px 10px 0 10px;
}
.goodsList-base-item-intro-price-new {
    color: #f77070;
    float: left;
    font-size: 1.4rem;
}
.goodsList-base-item-intro-price-old {
    color: #bbbbbb;
    float: left;
    margin-left: 5px;
    line-height: 25px;
    text-decoration:line-through;
    font-size: .92rem;
}
.goodsList-base-item-intro-title {
    font-size: 1.25rem;
    color: #626262;
    margin: 10px;
}
.goodsList-base-item-intro-upperdoor {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
}
.goodsList-vip-list li {
    margin: 15px;
    background-color: #ffffff;
    position: relative;
}
.goodsList-vip-list li img {
    width: 100%;
}
.goodsList-vip-item-intro-price {
    margin: 10px 10px 0 10px;
}
.goodsList-vip-item-intro-price-new {
    color: #f77070;
    font-size: 2rem;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.goodsList-vip-item-intro-price-new span {
    font-size: 1.375rem;
}
.goodsList-vip-item-intro-price-old {
    color: #bbbbbb;
    float: left;
    line-height: 25px;
    text-decoration:line-through;
    font-size: 1rem;
}
.goodsList-vip-item-intro-title {
    font-size: 1.25rem;
    color: #626262;
    margin: 10px;
}
/**********************************/
/********** 套餐列表 end *************/
/**********************************/

/**********************************/
/********** 404 end *************/
/**********************************/
.notFound-center {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
.notFound-wrapper {
    width: 175px;
    height: 285px;
    left: -87.5px;
    top: -142.5px;
    position: absolute;
}
.notFound-wrapper img {
    width: 100%;
}
.notFound-desc {
    font-size: 1.58rem;
    color: #9fa0a0;
    text-align: center;
    margin: 30px 0;
}
.notFound-link {
    color: #b7b7b7;
    font-size: 1.167rem;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border: 1px solid #b7b7b7;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
/**********************************/
/********** 404 end *************/
/**********************************/

/**********************************/
/****** app推广下载页 start ********/
/**********************************/
.download-prompt {
    font-size: 1rem;
    color: #b3b3b3;
    text-align: center;
}
.download-link {
    background-image: url(../images/download-platform-icons.png);
    background-size: 45px 113.5px;
    background-repeat: no-repeat;
    background-color: #5ecfd3;
    height: 44.5px;
    display: block;
    border-radius: 44.5px;
    text-decoration: none;
    text-align: center;
    line-height: 44.5px;
    font-size: 1.33rem;
    color: #ffffff;
    width: 75%;
    margin: 20px auto;
    text-indent: 44.5px;
}
.download-link-blank {
    background-image: none;
    text-indent: 0;
    border: 1px #bcbcbc dotted;
    background-color: #ffffff;
    color: #b4b4b4;
}
.download-link-android {
    background-position: 0px -70px;
}
.download-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.download-tel {
    display: block;
    width: 170px;
    height: 17px;
    background-image: url(../images/download-tel.png);
    background-size: 170px 17px;
    margin: 0 auto;
}
.download-copyright {
    color: #a6a6a6;
    font-size: 1rem;
    text-align: center;
    margin: 15px 0;
}

/**********************************/
/******* app推广下载页 end **********/
/**********************************/
.common-header {
    height: 49.5px;
    text-align: center;
    line-height: 49.5px;
    font-size: 1.4em;
    color: #ffffff;
    background-color: rgb(32, 213, 214);
    position: relative;
}
.common-header a {
    position: absolute;
    top: 0;
    left: 0;
    height: 49.5px;
    width: 49.5px;
    background-image: url(../images/common-header-back-icon.png);
    background-repeat: no-repeat;
    background-size: 15.2px 25px;
    background-position: center;
    text-decoration: none;
}

.common-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    height: 49px;
    background-color: #5ecfd3;
}
.common-footer a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    text-align: center;
    /*line-height: 130px;*/
    text-decoration: none;
    color: #ffffff;
    font-size: .8em;
}
.common-footer a i {
    display: block;
    background-image: url(../images/common-footer-icon.png);
    background-size: 45px 75px;
    background-repeat: no-repeat;
    width: 22.5px;
    height: 25px;
    margin: 8px auto 2px auto;
}
.common-footer-index i {
    background-position: 0 0;
}
.common-footer-order i {
    background-position: 0 -25px;
}
.common-footer-mine i {
    background-position: 0 -50px;
}
.common-footer-index.current i {
    background-position: -22.5px 0;
}
.common-footer-order.current i {
    background-position: -22.5px -25px;
}
.common-footer-mine.current i {
    background-position: -22.5px -50px;
}







